<%= form_with(model: dhtag_tag_subscription, local: true) do |form| %>
  <% if dhtag_tag_subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dhtag_tag_subscription.errors.count, "error") %> prohibited this dhtag_tag_subscription from being saved:</h2>

      <ul>
      <% dhtag_tag_subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :account_id %>
    <%= form.number_field :account_id %>
  </div>

  <div class="field">
    <%= form.label :tags_id %>
    <%= form.number_field :tags_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
