<h1>Editing Dhtag Tag Subscription</h1>

<%= render 'form', dhtag_tag_subscription: @dhtag_tag_subscription %>

<%= link_to 'Show', @dhtag_tag_subscription %> |
<%= link_to 'Back', dhtag_tag_subscriptions_path %>
