<p id="notice"><%= notice %></p>

<h1>Dhtag Tag Subscriptions</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dhtag_tag_subscriptions.each do |dhtag_tag_subscription| %>
      <tr>
        <td><%= dhtag_tag_subscription.account_id %></td>
        <td><%= dhtag_tag_subscription.tags_id %></td>
        <td><%= link_to 'Show', dhtag_tag_subscription %></td>
        <td><%= link_to 'Edit', edit_dhtag_tag_subscription_path(dhtag_tag_subscription) %></td>
        <td><%= link_to 'Destroy', dhtag_tag_subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dhtag Tag Subscription', new_dhtag_tag_subscription_path %>
