<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @dhtag_tag_subscription.account_id %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @dhtag_tag_subscription.tags_id %>
</p>

<%= link_to 'Edit', edit_dhtag_tag_subscription_path(@dhtag_tag_subscription) %> |
<%= link_to 'Back', dhtag_tag_subscriptions_path %>
